# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Tab indentation (no size specified)
[*.{js,ts,vue,json,css,less,scss,html}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Package manager files
[{package.json,pnpm-lock.yaml,pnpm-workspace.yaml}]
indent_style = space
indent_size = 2
