.mermaid-container[data-v-ec6e14d1]{display:flex;justify-content:center;margin:1.5em 0;overflow-x:auto}.mermaid-error[data-v-ec6e14d1]{background-color:#ffebee;border-left:4px solid #d32f2f;border-radius:4px;color:#d32f2f;padding:1em}
